* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 80%;
    margin: auto;
}

.libraryContainer {
    display: grid;
    width: 100%;
    border: 1px solid black;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 16px;
}

/* Card */
.card {
    height: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    margin: 16px;
    padding: 16px;
    word-wrap: break-word;
}

.card > * {
    margin-bottom: 16px;
}

.card .iconContainer {
    display: flex;
    justify-content: right;
}

.card .icon {
    width: 32px;
    cursor: pointer;
}

.card .icon:hover {
    opacity: 0.6;
}

.bookController {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addBookBtn {
    margin: 16px 0 16px 0;
    width: 25%;
    height: 32px;
}

/* Add book dialog */
.addBookDialog {
    margin: auto;
    padding: 32px;
    width: 300px;
}

.addBookDialog .formRow {
    display: flex;
}

.addBookDialog input {
    margin-left: auto;
    margin-bottom: 8px;
}

#formAddBookBtn {
    margin: 8px auto 0 auto;
    height: 24px;
    width: 50%;
}